{% extends 'base.html.twig' %}

{% block title %}
    {{ book.title }} - {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        <div class="container mt-5">
            <h1>Affichage complet</h1>

            <dl class="row mt-4">
                <dt class="col-sm-3">ID</dt>
                <dd class="col-sm-9">{{ book.id }}</dd>

                <dt class="col-sm-3">Title</dt>
                <dd class="col-sm-9">{{ book.title }}</dd>

                <dt class="col-sm-3">ISBN</dt>
                <dd class="col-sm-9">{{ book.isbn }}</dd>

                <dt class="col-sm-3">Categories</dt>
                <dd class="col-sm-9">
                    {% for category in book.categories %}
                        {{ category.title }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </dd>
            </dl>

            <a href="{{ path('app_book_index') }}" class="btn btn-secondary mt-4">Retour à la liste</a>
        </div>
    </section>
{% endblock %}